<div class="main">
    <div class="contenedor-cards">
        <div class="card text-white bg-primary ">
            <div class="card-header">Maceió</div>
            <div class="card-body imageDos">
                <h5 class="card-title">$600.000</h5>
            </div>
        </div>
        <div class="card text-white bg-secondary ">
            <div class="card-header">Isla San Andrés</div>
            <div class="card-body imageUno">
                <h5 class="card-title">$500.000</h5>
            </div>
        </div>
        <div class="container">
            <h2>Turquia "Impresionante"</h2>
            <p>$1.500.000</p>            
            <img src="https://cdn.goturkiye.com/goturkey/6-kapak.jpg" class="rounded" alt="Cinque Terre" width="304" height="236"> 
        </div>
          

    </div>

</div>
